@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(59 130 246 / 0.5);
  color: #fff;
  overflow-x: hidden;
}


.swipeBtn {
  transition: all 1s;
  position: relative;
  z-index: 1;
}


.swipeBtn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(184, 2, 144);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: translateY(100%);
  transition: all 1s;
  overflow: hidden;
  /* transform-origin: left;
  transform: translate(500px); */
}

.swipeBtn:hover::before {
  transform: translateX(0);
}

.swipeBtn:hover {
  color: white;
}



/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    z-index: 1;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }


.waves{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.wave{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100px;
  background-image: url('./assets/wave.png');
  background-size: 1000px 100px;
}

.wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 12s linear infinite;
}

 .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 12s linear infinite;
}

 .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 9s linear infinite;
}

 .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 9s linear infinite;
}

@keyframes animateWave{
  0%
  {
      background-position-x: 1000px;
  }
  100%
  {
      background-position-x: 0px;
  }
}

@keyframes animateWave_02{
  0%
  {
      background-position-x: 0px;
  }
  100%
  {
      background-position-x: 1000px;
  }
}


.teamDiv {
  background-color: rgb(59 130 246 / 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-gap: 20px;
}

/* TEAM SECTION CSSS */
.card {
    background-color: aquamarine;
    padding: 5rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
  
    transition: transform 500ms ease;
  }
  
  .card:hover , .card:focus-within {
    transform: scale(1.05);
  }
  
  .card:hover .card-content, .card:focus-within .card-content{
    transform: translateY(0);
    transition-delay: 500ms;
  
  }
  
  .card:focus-within .card-content {
    transition-duration: 0ms;
  }
  
  .card-content {
    padding: 1.5em;
    background: linear-gradient(
      hsl(0 0% 0% / 0),
      hsl(0 0% 00% / 0.3) 20%,
      hsl(0 0% 0% / 1)
    );
    color: white;
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  
  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }
  
  .card:hover .card-content > *:not(.card-title),.card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1s;   
  }
  .card-title {
    position: relative;
    width: max-content;
    overflow: hidden;
  }
  
  .card-title::after {
    content: '';
    left: -15%;
    overflow: hidden;
    bottom: -2px;
    position: absolute;
    height: 4px;
    background: blanchedalmond;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 500ms ease;
  }
  
  .card:hover .card-title::after, .card:focus-within .card-title::after {
    transform: scaleX(1);
  }
  
/* TIMELINE SECTION CSS */
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  #notFirst {
    padding-top: 500px;
  }
   
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #F45B69;
  }
   
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #F45B69;
  }
  
  .timeline ul li::after {
    background: #fff;
    transition: background .5s ease-in-out;
  }
   
  .timeline ul li.in-view::after {
    background: #F45B69;
  }
   
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
   
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px,0,0);
  }
   
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px,0,0);
  }
   
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px; /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
     
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
     
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
     
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent;
    }
  }